.searchContainer{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    width: 100%;
    justify-content: center;
}
.linkContainer{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    width: 100%;
    justify-content: center;
}
.teknetiumLogo{
    width: 15rem;
    height: 3rem;
    padding-left: 1rem;
}
.navbarContainer{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    width: 100%;
    justify-content: center;
    height: 5rem;
    box-shadow: 0 4px 2px 0px #0a0a0a66;
    align-items: center;
    background: #0d1b2a;
    color: white;

}
.searchBtn{
    background: none;
    border-radius: 0px;
    padding: 0px;
    margin: 0px;
    border: none;
}
.searchInput{
    border-radius: 0.5rem;
    width: 14rem;
    height: 2rem;
}

.searchIcon{
    fill: #242424;
}