.container {
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 3rem;

    z-index: 1;
    animation: gradient 35s ease infinite;
    background: url("../assets/images/lines.png");
background-repeat: no-repeat;
background-size: cover;
}

/* Define the keyframes for the animation */
@keyframes backgroundChange {
    0%, 100% {
        background: radial-gradient(
            circle,
            rgba(55, 32, 98, 1) 0%,
            rgba(49, 94, 147, 1) 100%
        );
    }
    50% {
        background: radial-gradient(
            circle,
            rgba(72, 49, 113, 1) 0%,
            rgba(68, 105, 147, 1) 100%
        );
    }
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
